@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: url(images/bg-intro-desktop.png);
  background-color: var(--Red);
  font-family: var(--poppins);
  font-size: 16px;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  margin: auto;
  height: 100vh;
}
.intro {
  color: #fff;
  flex-basis: 40%;
  padding: 2em;
  border: solid;
}
.intro p {
  font-size: smaller;
}
.container {
  width: 400px;
  padding: 2em;
  border: solid;
}
.trial-btn {
  background-color: var(--Blue);
  color: var(--GrayishBlue);
  width: 100%;
  padding: 15px 40px;
  border-radius: 5px;
  margin-bottom: 2em;
}
.wrapper {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: none;
}
.user-box {
  position: relative;
  height: auto;
}
.entry {
  box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid var(--GrayishBlue);
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
}
.submit{
  text-align: center;
}
.submit input{
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--Green);
  color: #fff;
  text-align: center;
  border: none;
  width: 100%;
}
.submit input:hover {
  background-color: hsl(154, 66%, 60%);
}
.wrapper p a{
  text-decoration: none;
  color: var(--Red);
}
